@media(max-width:1500px){
    .wrap{
        margin: 0px auto;
    }
    #footer{
        min-height: 350px;
    }
    #wrap-content{
        min-width: 120%;
    }
}

@media(max-width:1380px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }
    #footer{
        min-height: 1050px;
    }
    #wrap-content{
        min-width: 120%;
    }
    .aside-box input{
        max-width: 90%;
    }
}

@media(max-width:1009px){
    .wrap{
        width: 70%;
        margin: 0px auto;
        font-size: 30px;
    }
 
    #footer .wrap > div{
        width: 26%;
    }

    #footer img{
        width: 14%;
    }
    #footer h4{
        font-size: 30px;
    }

}

@media(max-width:962px){
    .wrap{
        width: 50%;
        margin: 0px auto;
        font-size: 35px;
    }
 
    #footer .wrap > div{
        width: 28%;
    }
    #footer{
        height: 1400px;
    }

    #footer img{
        width: 20%;
    }
    #footer h4{
        font-size: 30px;
    }
    }