
*{
  margin: 0px;
  padding: 0px;

}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 45px;
  font-weight: 300px;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(align-items)
  -webkit-linear-gradient(none);
  background: linear-gradient(90deg,#7f43df,#9eec9e,#ebc48b);
}

.contenedor-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  min-height: 1000px;
}